<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Name - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>

    <header>
        <h1><nav><a href="/">Website Name</a></nav></h1>
        <nav>
            <a href="/calendar">Calendar</a>
            <a href="/movies">Movies</a>
            <a href="/events">Events</a>
            <a href="/film-series">Film Series</a>
            <a href="#">Watchlists</a>
        </nav>
        <div class="separator"></div>
        <a href="#" class="login-button">Log-in</a>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
        Created by Othmane El Houssi & Estelle Pan
    </footer>

</body>
</html>
