{% extends "base.html" %}

{% block content %}
    <div class="content-container">
        <h1> <a href="/movie/{{ mid }}" style="text-decoration: none; color: rgb(67, 67, 191);">{{ movie.title }}</a></h1>
        <div class="reviews">
            <h2>Reviews: </h2>
            {% if reviews %}
                <ul>
                    {% for review in reviews %}
                        <li class="review-card">
                            <p><strong>Rating:</strong> {{ review.rating }}</p>
                            <p><strong>Reviewed by:</strong> {{ review.writer }}</p>
                            <p><strong>Review:</strong> {{ review.content }}</p>
                            <p><small>Reviewed on: {{ review.date }} : {{ review.time }}</small></p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No reviews yet for this movie.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
